<pts-login #ptsLogin 
  (notifyUser)="handleNotifyUser($event)"
  (loginUser)="handleLoginRegisterUser($event)"
  (loginCanceled)="handleDialogCanceled()">
</pts-login>

<pts-register #ptsRegister
  (notifyUser)="handleNotifyUser($event)"
  (registerUser)="handleLoginRegisterUser($event)"
  (registerCanceled)="handleDialogCanceled()">
</pts-register>

<pts-toolbar #ptsToolbar
  (openLogin)="handleOpenLogin()"
  (openRegister)="handleOpenRegister()"
  (logoutUser)="handleLogoutUser()"
  [isLoggedIn]="userIsLoggedIn"
  [username]="userName">
</pts-toolbar>

<router-outlet></router-outlet>

<pts-notify #ptsNotify></pts-notify>