<pts-login #ptsLogin 
  (notifyUser)="handleNotifyUser($event)"
  (loginUser)="handleLoginRegisterUser($event)"
  (loginCanceled)="handleDialogCanceled()">
</pts-login>

<pts-register #ptsRegister
  (notifyUser)="handleNotifyUser($event)"
  (registerUser)="handleLoginRegisterUser($event)"
  (registerCanceled)="handleDialogCanceled()">
</pts-register>

<pts-toolbar #ptsToolbar
  (openLogin)="handleOpenLogin()"
  (openRegister)="handleOpenRegister()"
  (logoutUser)="handleLogoutUser()"
  [isLoggedIn]="userIsLoggedIn"
  [username]="userName"
  [votes]="votes">
</pts-toolbar>

<pts-content #ptsContent 
  *ngIf="showUserContent"
  (notifyUser)="handleNotifyUser($event)"
  (changeUserVoting)="handleChangeUserVoting($event)"
  [userId]="userId">
</pts-content>

<pts-content-admin #ptsContentAdmin
  *ngIf="showAdminContent">
</pts-content-admin>

<pts-content-deejay #ptsContentDeejay
  *ngIf="showDeejayContent">
</pts-content-deejay>

<pts-notify #ptsNotify></pts-notify>