<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-typography--display-1 text-color">{{title}}</div>
  </div>
  <div class="mdl-cell mdl-cell--6-col"></div>
  <div class="mdl-cell mdl-cell--3-col mdl-typography--text-right">
    <span *ngIf="username" class="text-position text-color">
      {{username}} - [{{votes}}]
    </span>
    <!-- login -->
    <button class="mdl-button mdl-js-button mdl-button--icon icon-spacing"
      data-balloon-length="small" data-balloon="Open User Login Dialog" data-balloon-pos="left"
      (click)="openLoginDialog()"
      *ngIf="!isLoggedIn">
      <i class="material-icons text-color">person</i>
    </button>
    <!-- register -->
    <button class="mdl-button mdl-js-button mdl-button--icon icon-spacing"
      data-balloon-length="small" data-balloon="Open User Signup Dialog" data-balloon-pos="left"
      (click)="openRegisterDialog()"
      *ngIf="!isLoggedIn">
      <i class="material-icons text-color">person_add</i>
    </button>
    <!-- logout -->
    <button class="mdl-button mdl-js-button mdl-button--icon icon-spacing"
      data-balloon-length="small" data-balloon="Logout the User" data-balloon-pos="left"
      (click)="logout()"
      *ngIf="isLoggedIn">
      <i class="material-icons text-color">exit_to_app</i>
    </button>
  </div>
</div>