<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1 text-color">{{title}}</div>
  </div>
  <div class="mdl-cell mdl-cell--7-col"></div>
  <div class="mdl-cell mdl-cell--1-col">
    <button class="mdl-button mdl-js-button mdl-button--icon icon-spacing"
      (click)="openLoginDialog()">
      <i class="material-icons text-color">perm_identity</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--icon icon-spacing"
      (click)="openEventDialog()">
      <i class="material-icons text-color">event</i>
    </button>
  </div>
</div>